<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gruposalinas.elektra.movilidadgs"
    android:versionCode="6"
    android:versionName="@string/version_name"> <!-- =======PERMISOS Y DEMÁS======= -->
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19"
        tools:ignore="GradleOverrides,OldTargetApi" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Permite el uso de internet, leer el estado del WIFI/3G -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- PARA LA UBICACION POR GPS -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="dangerous" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:protectionLevel="dangerous" />
    <!-- Para leer el IMEI/MEID -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Para Google Maps -->
    <permission
        android:name="com.gruposalinas.elektra.movilidadgs.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gruposalinas.elektra.movilidadgs.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="dangerous" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="dangerous" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permite reiniciar el servicio aunque se apague el dispositivo -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- permite la grabacion del video -->
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- =======APLICACIÓN======= -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_socio_mas_x2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA7u6vivP7LMt20_LQOxcYFGYYxK1hzpTU" />

        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.RegistroActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <!-- created by ADT ext plugin at 2015-10-06 16:18:05 -->
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <!-- created by ADT ext plugin at 2015-10-06 16:18:34 -->
        <!-- created by ADT ext plugin at 2015-11-05 11:09:37 -->
        <activity
            android:name=".Activities.MovementListActivity"
            tools:ignore="InnerclassSeparator" />
        <!-- =======SERVICIOS Y RECEPTORES======= -->
        <service
            android:name=".geolocation.EmployeeLocationService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />

        <!-- Broadcast que permite el arranque del servicio -->
        <receiver
            android:name=".receivers.arrancarservicio"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.Horarios_consulta"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Detalle_Horario_pendiente"
            android:label="@string/title_activity_detalle__horario_pendiente"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Activity_Tiendas"
            android:label="@string/title_activity_activity__tiendas"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.TiendaDetalle"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Mostrar_mapas"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.ListadoTiendas"
            android:label="@string/title_activity_listado_tiendas"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MostrarMapaEnviar"
            android:label="@string/title_activity_mostrar_mapa_enviar"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.ListaZonasActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.DetalleZonaActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MenuAplicaciones"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.DetalleZonaEliminar"
            android:label="@string/title_activity_detalle_zona_eliminar"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MapasZonasUbicaciones"
            android:label="@string/title_activity_mapas_zonas_ubicaciones"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.ListaIncidenciasActivity"
            android:label="@string/title_activity_lista_incidencias"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.justificacionCatalogo"
            android:label="@string/title_activity_justificacion_catalogo"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.VerDetalleJustificacionActivity"
            android:label="@string/title_activity_ver_detalle_justificacion"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".geolocation.ServicePanico"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.Cambios_Configuracion"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <service
            android:name=".geolocation.serviceEvento"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />

        <activity
            android:name=".Activities.Panico"
            android:label="@string/title_activity_panico"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Activity_horarios_Autorizar"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <receiver android:name=".receivers.notificacion_app" />
        <receiver android:name=".receivers.incidenciasreciver" />

        <activity
            android:name=".Activities.Nombres_lista"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Contacto"
            android:label="@string/title_activity_contacto"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.capture_video"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".geolocation.HoraExacta"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />

        <receiver android:name=".receivers.horarecibe" />
        <receiver android:name=".receivers.recibeSalida" />

        <activity
            android:name=".Activities.Contactos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Permisos_Activity"
            android:label="@string/title_activity_permisos_"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Permisos_Plantilla_Activity"
            android:label="@string/title_activity_permisos__plantilla_"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Agregar_Permisos_activity"
            android:label="@string/title_activity_agregar__permisos_activity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Agregar_permisos_plantilla"
            android:label="@string/title_activity_agregar_permisos_plantilla"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Plantilla_ZonasYubicaciones"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Plantilla_ZonasYubicaciones_pendientes"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.AsignarZona_Plantilla"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.listado_ubicaciones_plantilla"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".pushNotificacionFireBase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name=".pushNotificacionFireBase.TokenID">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".geolocation.GPS_Service" />
        <service android:name=".geolocation.RecorderService" />
        <service
            android:name=".geolocation.Service_contact"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.Settings_perfil"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.ConfiguracionApp"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>